{% extends 'sapper/pattern.html' %}
{% load static %}
{% block title %}Self Game{% endblock %}
{% block main%}
<style>
    label{
        color: #ffffff;
    }
    li{
        list-style-type: none;
    }
</style>
<div>
    <form method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="h">Высота:</label>
                <input class="form-control" name="h" type="number" value="10" min="1" max="13">
            </li>
            <li>
                <label for="w">Ширина:</label>
                <input class="form-control" name="w" type="number" value="10" min="1" max="25">
            </li>
            <li>
                <label for="bomb">Количество бомб:</label>
                <input class="form-control" name="bomb" type="number" value="10" min="1" max="169">
            </li>
            <li><input type="submit"></li>
        </ul>
    </form>
</div>
{% endblock %}

